:root {
  --gray-8: #7b848f;
  --gray-10: #0d0f11;
  --white: #f0f6fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--gray-8);
}

li {
  list-style: none;
}

a {
  color: var(--white);
  text-decoration: none;
  transition: color 0.2s;

  &:hover{
    color: #ccc
  }
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 20px;

}