h2 {
  text-align: center;
  margin-top: 2rem;
}

.profilePicture {
  text-align: center;
  margin-top: 1rem;

  img {
    border-radius: 100%;
    width: 296px;
    height: 296px;

    &:hover {
      outline: 3px solid rgb(148, 148, 148);
    }
  }
}

.sobre {
  text-align: center;
  margin: 1.5rem 1rem;

  h3 {
    color: #ccc;
  }

  p {
    text-align: justify;
    margin-top: 2rem;
    line-height: 22px;
  }
}

.repos {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.repoCard {
  width: 400px;
  height: 180px;
  border: 1px solid #ccc;
  border-radius: .25rem;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;

  &:hover {
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
  }
}
